{% extends "base.html" %}

{% block content %}
<div class="container">
    <h1 class="text-center">Seleccione el tipo de datos descriptivos</h1>
    
    <!-- Formulario de selección -->
    <form method="POST" class="mb-4">
        <div class="mb-3">
            <label for="selectCampo" class="form-label">Campo</label>
            <select class="form-select" id="selectCampo" name="campo">
                <option selected disabled>Seleccione el campo</option>
                <option value="year">Año</option>
                <option value="author">Autor</option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Generar Histograma</button>
    </form>

    <!-- Fila para el histograma y las estadísticas -->
    <div class="row">
        <!-- Columna para el histograma -->
        <div class="col-md-8">
            {% if imagen_histograma %}
                <h2 class="text-center">Histograma de Frecuencia</h2>
                <img src="data:image/png;base64,{{ imagen_histograma }}" alt="Histograma de Frecuencia" class="img-fluid">
            {% endif %}
        </div>

        <!-- Columna para las estadísticas a la derecha -->
        <div class="col-md-4">
            {% if estadisticas %}
                <h2 class="text-right">Estadísticas Descriptivas</h2>
                <ul class="list-group">
                    <li class="list-group-item">Media: No es posible</li>
                    <li class="list-group-item">Mediana: {{ estadisticas.mediana }}</li>
                    <li class="list-group-item">Moda: {{ estadisticas.moda }}</li>
                    <li class="list-group-item">Varianza: {{ estadisticas.varianza }}</li>
                    <li class="list-group-item">Desviación Estándar: {{ estadisticas.desviacion_estandar }}</li>
                    <li class="list-group-item">Rango: {{ estadisticas.rango }}</li>
                    <li class="list-group-item">Mínimo: {{ estadisticas.minimo }}</li>
                    <li class="list-group-item">Máximo: {{ estadisticas.maximo }}</li>
                </ul>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
